<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gangl-Lipson</title>
</head>

<body>
<h1>Artificial Intelligence</h1>

<h2>Contents</h2>
<ol>
    <li>
        <h3>Intelligent Agents</h3>
    </li>
    <li>
        <h3>Search Algorithms</h3>
        <details>
            <summary>Contents</summary>
            <ol>
                <li>
                    <h4>Depth First Search</h4>
                </li>
                <li>
                    <h4>Breadth First Search</h4>
                </li>
                <li>
                    <h4>Depth Limited Search</h4>
                </li>
                <li>
                    <h4>A* Search</h4>
                </li>
            </ol>
        </details>
    </li>
    <li>
        <h3>Adversarial Search and Game Theory</h3>
        <details>
            <summary>Contents</summary>
            <ol>
                <li>
                    <h4>Alpha-Beta Search</h4>
                </li>
            </ol>
        </details>
    </li>
    <li>
        <h3>Logic Programming</h3>
        <details>
            <summary>Contents</summary>
            <ol>
                <li>
                    <h4>Propositional Logic</h4>
                </li>
                <li>
                    <h4>First-Order Logic</h4>
                </li>
                <li>
                    <h4>Inference</h4>
                </li>
                <li>
                    <h4>Planning</h4>
                </li>
                <li>
                    <h4>Knowledge Representation</h4>
                </li>
            </ol>
        </details>
    </li>
</ol>
</body>
</html>
