<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gangl-Lipson</title>
</head>

<body>
<h1>Modern Compiler Implementation in Rust</h1>

<h2>Contents</h2>
<ol>
    <li>
        <h4>Lexical Analysis</h4>
    </li>
    <li>
        <h4>Parsing</h4>
    </li>
    <li>
        <h4>Semantic Analysis</h4>
    </li>
    <li>
        <h4>Translation to Intermediate Code</h4>
    </li>
    <li>
        <h4>Instruction Selection</h4>
    </li>
    <li>
        <h4>Liveness Analysis</h4>
    </li>
    <li>
        <h4>Register Allocation</h4>
    </li>
</ol>
</body>
</html>
