<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gangl-Lipson</title>
</head>

<body>
<h1>Graphics from the Ground Up</h1>

<h2>Contents</h2>
<ol>
    <li>
        <h3>Rendering via Raytracing</h3>
        <details>
            <summary>Contents</summary>
            <ol>
                <a href="/graphics/ascii">
                    <li>
                        <h4>Working with ASCII Images</h4>
                    </li>
                </a>
                <li>
                    <h4>Defining a Scene</h4>
                </li>
                <li>
                    <h4>Drawing Spheres</h4>
                </li>
                <li>
                    <h4>Other Primitive Shapes</h4>
                </li>
                <li>
                    <h4>Parallel Projection</h4>
                </li>
                <li>
                    <h4>Light and Shadow</h4>
                </li>
                <li>
                    <h4>Soft Shadows</h4>
                </li>
                <li>
                    <h4>Light Source Attenuation</h4>
                </li>
                <li>
                    <h4>Drawing Flat Shaded Triangles</h4>
                </li>
                <li>
                    <h4>Smooth Shading Triangles</h4>
                </li>
                <li>
                    <h4>Texture Mapping</h4>
                </li>
                <li>
                    <h4>Surface Normal Mapping</h4>
                </li>
                <li>
                    <h4>Reflections</h4>
                </li>
                <li>
                    <h4>Transparency</h4>
                </li>
                <li>
                    <h4>Variable Visibility Attenuation</h4>
                </li>
                <li>
                    <h4>Bound Volume Hierarchies</h4>
                </li>
                <li>
                    <h4>Showcase</h4>
                </li>
            </ol>
        </details>
    </li>
    <li>
        <h3>Rendering via Scan Conversion</h3>
        <details>
            <summary>Contents</summary>
            <ul>
                <li>
                    <h4>Working with ASCII Images</h4>
                </li>
            </ul>
        </details>
    </li>
</ol>
</body>
</html>
