<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gangl-Lipson</title>
</head>

<body>
<h1>Ben Gangl-Lipson</h1>
<p>Software Engineer, musician, aspiring post-contemporary purely functional automaton.</p>

<h2>Internet Presence</h2>
<ul>
    <li>
        <h3>Computer Science Educational Content</h3>
        <ul>
            <li>
                <h4><a href="/graphics">Graphics From the Ground Up</a></h4>
                A module teaching 3D graphics programming for beginners. Taught entirely in Rust, it assumes prior
                knowledge of
                coding but no experience with graphics programming.
            </li>
            <li>
                <h4><a href="#">Artificial Intelligence Without Nonsense</a></h4>
                A module detailing the definition and history of artificial intelligence as it really is. It gives a
                high level overview of all the skills needed to create basic artificially intelligence computer
                programs, including search algorithms, formal logic, and planning.
            </li>
        </ul>
    </li>
    <li>
        <h3>Demonstrations</h3>
        <ul>
            <li>
                <h4><a href="/demo/cave">The Cave</a></h4>
                Imagine that there are people living in a cave deep underground. The cavern has a back button that opens
                to the light outside. All they can do is stare into the abyss, no matter how they turn their heads.
            </li>
            <li>
                <h4><a href="#">3D Raytracing Renderer Interface</a></h4>
                Input parameters detailing your scene and see the program render it. Download the outputted image to
                share with
                others.
            </li>
            <li>
                <h4><a href="#">Counterpoint Generator</a></h4>
                An artificial intelligence program that generates music for you following the rules of counterpoint.
            </li>
            <li>
                <h4><a href="#">Graph TV</a></h4>
                A front end user interface to quickly view TV show ratings over time.
            </li>
        </ul>
    </li>
    <li>
        <h3>Music</h3>
    </li>
    <li>
        <h3>Blog</h3>
    </li>
</ul>
</body>
</html>
